@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

.first-container {
    background: rgb(11, 9, 50);
    height: 400px;
    width: 350px;
    border-radius: 40px;
    box-shadow: 10px 10px 200px rgba(0, 0, 0, 0.535) ;
    color: white;
    position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
  
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 18px;
}

.icon {
    height: 15px;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;

}

.star {
    background-color: rgba(187, 187, 187, 0.153);
    border-radius: 50%;
    height: 40px;
    width: 42px;
    margin-top: 30px;
    margin-left: 27px;
    position: relative;
    
}

.button {
    padding: 10px;
    display: grid;
    width: 300px;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 128, 0);
    color: white;
    margin-top: 20px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
}

.button:hover {
    background-color: white;
    color: rgb(255, 128, 0);
    font-weight: 600;
}

.title {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.title h2 {
    font-weight: 450;
    margin-bottom: 0;
    font-size: 25px;
}

.title p {
    font-weight: 150;
    line-height: 25px;
    font-size: 13px;
}

.number-container p {
    height: 20px;
    font-weight: 500;
    position: absolute;
    top: -15%;
    left: 40%;
    opacity: 0.4;
    transition: 0.2s ease-in-out;
}

.number-container:hover p {
    opacity: 1;
}

.number-container {
    background-color: rgba(187, 187, 187, 0.153);
    border-radius: 50%;
    height: 43px;
    width: 44px;
    position: relative;
}

.number-container:hover {
    background-color: rgba(255, 255, 255, 0.303);
    transition: 0.3s ease-in-out;
    opacity: 1;
}

.number-container:active {
    background-color: rgb(255, 128, 0);
}

.attribution {
    font-size: 13px;
}

.attribution a {
    color: black;
}

.cards {
    display: flex;
    flex-direction: row;
}